@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  height: 100vh;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #1b2838;
}
body::-webkit-scrollbar {
  width: 0px;
}
header {
  display: flex;
  flex-direction: column;
}
header h3 {
  font-family: 'roboto', sans-serif;
  background-color: gray;
  font-size: 24px;
}
.header_box {
  background-color: #171a21;
  min-height: 50px;
  display: block;
}
.responsive_header_logo {
  position: relative;
  background-color: #171a21;
  height: 36px;
  text-align: center;
  top: 7px;
}
.responsive_header_logo img {
  height: 36px;
  vertical-align: middle;
}
.nav_container {
  background-color: white;
  height: 75px;
}
.navbar {
  height: 100%;
}
.nav-link {
  margin: 0;
}
.nav-item {
  display: flex;
  align-items: center;
}
#manage-btn-dropdown {
  margin: 0;
  padding: 0;
}
/* BODY PART */
.item_set_container {
  display: flex;
  flex-direction: column;
  background-color: #1b2838;
  min-height: 270px;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 69, 69);
}
.set_label {
  font-size: 1rem;
  padding: 0 0 0 10px;
  margin: 10px 10px;
  color: white;
  text-align: center;
}
.set_item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
}

.item_ctn {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 200px;
  margin-left: 10px;
}
.item {
  border: 1px solid white;
  border-bottom: none;
  min-width: 200px;
  height: fit-content;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.item_name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-width: 200px;
  min-height: 46px;
}
.item_price {
  background-color: black;
  min-width: 200px;
  height: 50px;
  border: 1px solid white;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.item_price h3 {
  font-size: 1rem;
  text-align: center;
  padding: 5px 0px;
  margin: 0;
  color: rgb(144, 202, 57);
}
.discount {
  text-decoration: line-through;
  font-size: 0.8rem !important;
  padding-bottom: 0 !important;
  font-weight: normal !important;
  color: grey !important;
}
.item_discount_price {
  display: none;
}
.has_discount_price {
  display: block;
  padding-top: 0 !important;
}

.item_name h3 {
  font-size: 1rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid white;
  margin: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  transition: all 0.2s ease-in-out;
  border-radius: inherit;
}

.item_label_ctn {
  position: relative;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  top: 120px;
}

.item_ctn:hover img {
  transform: scale(1.1);
}

.label {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1ch;
  color: white;
}

#login_btn,
#manage-btn,
#profile-page-btn,
#library-page-btn {
  display: none;
}
/* User account */
.dropdown-menu {
  position: absolute;
}
.dropdown-menu li {
  cursor: pointer;
}
.dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  padding: 5px 10px 5px 5px;
  color: black;
  margin-left: 15px;
  padding-left: 10px;
}
.dropdown-toggle::after {
  color: black;
}
.dropdown-toggle img {
  width: 48px;
  border: 2px solid #5e5e5e;
  border-radius: 5px;
}
.dropdown-toggle h3 {
  padding: 0;
  margin: 0;
  background: none;
  margin-right: 5px;
  font-size: 1rem;
}
/* End of user account */
#user-info-btn {
  display: none;
}
.spinner-container {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 100%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Cart */
#cart-btn {
  display: none;
  margin-left: 10px;
  background-color: #f8f9fa;
  border: 1px solid #1980b4;
  color: black;
  padding: 10px;
}
#cart-btn:hover {
  background-color: #1980b4;
  color: white;
  cursor: pointer;
}
/* End of cart */

.product-discount-container {
  display: none;
  opacity: 0;
  /* display: flex; */
  position: relative;
  justify-content: center;
  margin: 20px 10px 0 10px;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}
.product-discount-container.active{
  opacity: 1;
  display: flex;
}
.carousel-inner {
  position: relative;
  width: 427px;
  overflow: hidden;
}
.carousel-item.active {
  display: flex;
  justify-content: center;
}
.carousel-item a img {
  width: fit-content !important;
  height: 200px;
  object-fit: contain;
}
.product-discount-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  filter: blur(2px);
}
.discount-header-right-ctn{
  display: flex;
  align-items: center;
  z-index: 2;
  margin-right: 50px;
  min-width: 250px;
}
.discount-header-left-ctn{
  display: flex;
  align-items: center;
  z-index: 2;
  margin-left: 50px;
  min-width: 250px;
}
.discount-header{
  font-size: 3rem;
  color: #fbff89;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.discount-header-left{

}
.discount-header-right{

}
.carousel-control-next:hover,
.carousel-control-prev:hover{
  background-color: rgba(1,1,1,50%);
}
#product-discount-nav-result{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
.discount-nav-btn{
  color: white;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border-radius: 50%;
  border: unset;
}
.discount-nav-btn.active{
  background-color: #91d6f9;
}
#receipt_btn{
  display: none;
}
/* footer  */
.footer_box {
  display: flex;
  background-color: #171a21;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#footer-left{
  user-select: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer-middle{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
#footer-right{
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
#footer-right h3{
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
#footer-logo-img{
  width: 250px;
}
#footer-middle h3{
  text-align: center;
  font-size: 1rem;
  margin: 0;
  color: white;
  font-weight: 400;
}
#footer-middle h3:first-child{
  text-decoration: underline;
}
#contact-icon{
  margin-bottom: 5px;
}
#contact-icon img{
    cursor: pointer;
    width: 35px;
    margin-right: 5px;
}
#contact-email{
  display: flex;
  justify-content: center;
}
#contact-email h3{
  text-decoration: none !important;
}
#contact-email h3:last-child{
  margin-left: 5px;
  color: orange;
}