@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #171a21;
}
/* body::-webkit-scrollbar {
  display: none;
} */
header {
  display: flex;
  flex-direction: column;
}
header h3 {
  font-family: 'roboto', sans-serif;
  background-color: gray;
  font-size: 24px;
  /* padding: 50px; */
}
.header_box {
  background-color: #171a21;
  min-height: 50px;
  display: block;
}
.responsive_header_logo {
  position: relative;
  background-color: #171a21;
  height: 36px;
  text-align: center;
  top: 7px;
}
.responsive_header_logo img {
  height: 36px;
  vertical-align: middle;
}
.nav_container{
  background-color: white;
  height: 75px;
}
.navbar{
  height: 100%;
}
.container-fluid {
  width: 940px;
  padding: 0;
}
.game_page {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game_info {
  display: flex;
  flex-direction: column;
}
.game_header {
  width: 940px;
  margin: 10px 0 10px 0;
  color: white;
}
.content_block {
  width: 940px;
  height: 315px;
  margin: 0 auto;
  color: #c6d4df;
  background-color: #30333b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product_trailer {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.left_col {
  width: 55%;
  height: 100%;
  background-color: black;
  margin-right: 15px;
  background-color: #30333b;
}

.right_col {
  width: 45%;
  height: 100%;
  background-color: #30333b;
  /* margin: 0 50px 0 0; */
  /* background-color: red; */
}
.glance_ctn {
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #30333b;
}
.game_header_image_full img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.game_description {
  text-align: justify;
  margin-right: 15px;
}
.cart_block {
  display: flex;
  height: 50px;
  width: 940px;
  background-color: #436827;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.game_purchase_action {
  height: 40px;
  width: 80%;
  top: 35px;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
}
.game_purchase_price {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  height: 40px;
  width: 115px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#game-purchase-price{
  margin: 0;
  font-size: 0.9rem;
  text-decoration: line-through;
  color: grey;  
}
#game-purchase-price-discount{
  margin: 0;
  font-size: 1rem;
}
.btn_cart {
  border: 1px solid black;
  background-color: #436827;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  height: 40px;
  width: 115px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.btn_cart:hover{
  border: 1px solid #99b72f;
  background-color: #99b72f;
}
.cart_block h1 {
  width: 100%;
  color: white;
  margin: 0;
  margin-left: 20px;
  font-size: 1.5rem;
}

/* CUSTOMER REVIEW */

.customer_review {
  display: flex;
  flex-direction: column;
  /* height: 50px; */
  width: 940px;
  background-color: #436827;
  margin-top: 20px;
  margin-bottom: 50px;

  position: relative;
}
.customer_review_title {
  display: flex;
  width: 100%;
  height: 50px;
  display: flex;
  margin: 0;
  margin-left: 20px;
  align-items: center;
}
.customer_review h1 {
  width: 100%;
  color: white;
  margin-left: 20px;
  font-size: 1.5rem;
}
.cmt_section_container {
  background-color: #171a21;
}
.cmt_section {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #16202d;
  border: white solid 1px;
  border-radius: 5px;
  margin: 10px auto;
}
.cmt_section_left {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background-color: royalblue; */
  justify-content: center;
  align-items: center;
}
.cmt_section_right {
  display: flex;
  flex: 5;
  flex-direction: column;
}

.cmt_username {
  color: white;
  font-size: 20px;
  font-family: 'Motiva Sans', Sans-serif;
  font-weight: bold;
}
.cmt_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
}
.cmt_favor {
  color: white;
  font-size: 20px;
  font-family: 'Motiva Sans', Sans-serif;
  font-weight: bold;
  margin-left: 10px;
}
.cmt_from_date {
  display: flex;
  color: white;
  font-size: 16px;
  font-family: 'Motiva Sans', Sans-serif;
  /* font-weight: bold; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.cmt_content {
  display: flex;
  color: white;
  font-size: 1rem;
  font-family: 'Motiva Sans', Sans-serif;
}
.cmt_avatar {
  border: black solid 2px;
  max-width: 64px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  /* max-height: 50%; */
}
.cmt_favor_container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#cmt_favor_item {
  max-width: 50px;
}
.cmt_content_container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 10px 10px 0;
}
#no-cmt-container {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}
#no-cmt-label {
  color: white;
  font-size: 1rem;
}
#design-page-btn,
#profile-page-btn,
#library-page-btn {
  display: none;
}
#cmt-input-box-container {
  width: 100%;
  height: fit-content;
}
#cmt-input-box {
  margin: 0 !important;
  height: 100%;
  padding: 10px 10px 0px 0px !important;
}
#cmt-input-area {
  border-radius: 0px;
  margin: 0px !important;
  height: 84px;
  resize: none;
  line-height: 1.3;
}
#cmt-submit-option {
  display: flex;
  align-items: center;
  margin: 5px 0px 5px 0px;
  justify-content: start;
  height: 50px;
}
#cmt-submit-option p{
  color: white;
  font-size: 1rem;
  margin: 0;
  margin-right: 20px;
}
.thumb-icons{
  display: flex;
}
#thumb-up, #thumb-down{
  margin-right: 10px;
  margin-bottom: 0;
}
#thumb-up img, #thumb-down img{
  width: 25px;
  cursor: pointer;
}
#thumb-down img{
  margin-bottom: -20px;
  transform: rotate(180deg);
}
#cmt-submit-btn{
  background-color: aliceblue;
  color: black;
  margin-left: 10px;
}
#cmt-submit-btn:hover{
  background-color: #436827;
  color: white;
}
#cmt-empty-warning {
  display: none;
  align-items: center;
}
#cmt-empty-warning h3{
  margin: 0;
  font-size: 1rem;
  color: #ff2626;
  font-style: italic;
  font-weight: normal;
  margin-bottom: -7px;
  margin-top: 5px;
}
#cmt-input-section{
  display: none;
}
/* User account */
.dropdown-menu{
  position: absolute;
}
.dropdown-menu li{
  cursor: pointer;
}
.dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  padding: 5px 10px 5px 5px;
  color: black;
  margin-left: 15px;
  padding-left: 10px;
}
.dropdown-toggle::after{
  color: black;
}
.dropdown-toggle img {
  width: 48px;
  border: 2px solid #5e5e5e;
  border-radius: 5px;
}
.dropdown-toggle h3 {
  padding: 0;
  margin: 0;
  background: none;
  margin-right: 5px;
  font-size: 1rem;
}
#user-info-btn {
  display: none;
}
#login_btn {
  display: none;
}
.new-comment {
  background-color: #16202d !important;
  transition: background-color 1s ease-out;
}
.product-in-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-family: system-ui;
}
.spinner-container{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 100%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart-btn {
  display: none;
  margin-left: 10px;
  background-color: #f8f9fa;
  border: 1px solid #1980b4;
  color: black;
  padding: 10px;
}
#cart-btn:hover {
  background-color: #1980b4;
  color: white;
  cursor: pointer;
}
.cmt-favor-and-delete{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cmt-delete-container{
  border-radius: 5px;
  margin-top: 8px;
  margin-right: 10px;
  border: 1px solid #16202d;
}
.cmt-delete-btn{
  color: white;
  padding: 8px;
  margin: 0;
  cursor: pointer;
}
.cmt-delete-container:hover{
  border: 1px solid #ff5454;
  background-color: #ff5454;
}
#receipt_btn{
  display: none;
}