@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'roboto', sans-serif;
  height: 100vh;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #1b2838;
}
body::-webkit-scrollbar {
  width: 0px;
}
header {
  display: flex;
  flex-direction: column;
}
header h3 {
  font-family: 'roboto', sans-serif;
  background-color: gray;
  font-size: 24px;
}
.header_box {
  background-color: #171a21;
  min-height: 50px;
  display: block;
}
.responsive_header_logo {
  position: relative;
  background-color: #171a21;
  height: 36px;
  text-align: center;
  top: 7px;
}
.responsive_header_logo img {
  height: 36px;
  vertical-align: middle;
}
.footer_box {
  background-color: grey;
  min-height: 50px;
}
.nav_container {
  background-color: white;
}
.navbar {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid {
  width: 940px;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}
.profile-container {
  display: flex;
  flex-direction: row;
  height: 600px;
  justify-content: center;
  position: relative;
}
.btn-container {
  width: 150px;
  right: 0;
  font-size: 1rem;
}
.btn-general {
  margin-top: 10px;
}
.profile-nav-box {
  display: flex;
  justify-content: right;
  position: absolute;
  left: 0;
  height: 100%;
  width: calc((100% - 940px) / 2);
  /* background-color: burlywood; */
}
.profile-box {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 940px;
  position: absolute;
}
.tab-content {
  margin-top: 10px;
  width: 940px;
}
.profile-header {
  color: white;
  font-size: 1.2rem;
}
.dialog-body-text {
  font-size: 1rem;
  text-align: justify;
  color: grey;
  padding: 10px;
}
.btn-outline-secondary {
  color: white;
  /* background-color: gray; */
  width: 100%;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.btn-outline-secondary:hover {
  background-color: grey;
}
.tab-panel {
  display: none;
}
.tab-panel.active {
  display: block;
}
.form-label {
  color: white;
}
.form-control {
  background-color: #17191a;
  border: black solid 1px;
  color: white;
}
.form-control::placeholder {
  color: grey;
}
.form-control:focus {
  background-color: #17191a;
  color: white;
}
.profile-section-header {
  color: white;
  border-bottom: rgb(71, 66, 66) solid 1px;
}
.profile-section {
  padding: 20px 10px 10px 10px;
}
.avatar-section {
  display: flex;
  margin-top: 20px;
  align-items: flex-end;
}
.avatar {
  display: block;
  margin-right: 20px;
}
.avatar-184 {
  width: 184px;
}
.avatar-64 {
  width: 64px;
}
.avatar-32 {
  width: 32px;
}
.avatar-size {
  color: gray;
  font-size: 0.7rem;
}
#design-page-btn {
  display: none;
}
#library-page-btn {
  display: none;
}
.spinner-container {
  /* display: none; */
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 100%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
